
.profile-image{
    width:400px;
    height:300px;
    float: right;
    margin-top:40px;
}

.company-description{
    background: white;
    width : 50%;
}

.description{
    border-style: solid;
    border-width: 2px;
    margin: 10px 10px;
}